.main-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #1A1D21;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-w-body-container {
  max-width: 960px;
  width: 100%;
}

.adaptive-p {
  padding-left: 4em !important;
  padding-right: 4em !important;
}

@media only screen and (max-width: 760px) {
  .adaptive-p {
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
}

@media only screen and (max-width: 600px) {
  .adaptive-p {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
  }
}