.navbar {
    position: absolute !important;
    left: 0;
    right: 0;
    z-index: 100;
}

.b-bottom {
    border-bottom: 1px solid #2A2F35;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
}

.nav-item:hover {
    text-decoration: none;
}

.nav-item span {
    color: #f0f0f0;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s;
}

.nav-item:hover span {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.nav-item svg {
    font-size: 1.8em;
    color: #717A85;
    transition: 0.5s;
}

.nav-item.active svg {
    color: #f0f0f0;
    transition: 0.5s;
}

.nav-item:hover svg {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.nav-item.border {
    border: 1px solid #2A2F35 !important;
    border-radius: 0.5em;
    width: fit-content;
}

.nav-gap {
    flex-grow: 1;
    margin-bottom: 0;
}

.flex-row-col-adaptive {
    flex-direction: row;
}

.gap-3-adaptive {
    gap: 1em;
}

@media only screen and (max-width: 600px) {
    .flex-row-col-adaptive {
        flex-direction: column;
    }

    .nav-gap {
        flex-grow: 0;
        margin-bottom: 1em;
    }

    .gap-3-adaptive {
        gap: 0.5em;
    }
}