.alert-icon {
    color: #ffffff;
    animation: rotate 5s linear infinite;
    align-self: center;
    justify-self: center;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}