.input-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    border-radius: 0.5em;
    background-color: #161A1F;
    border: 1px solid #2A2F35;
    padding: 0.5em;
}

@media only screen and (max-width: 600px) {
    .input-wrap {
        font-size: 16px;
    }
}

.input-wrap input {
    width: 100%;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-wrap:focus-within {
    outline: 1px solid #50555a;
    outline-offset: -1px;
}

.input-wrap:has(input:disabled) {
    opacity: 50%;
    transition: 0.2s linear;
}

.input-wrap input:focus {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
}

.input-wrap input::placeholder {
    font-style: oblique;
    color: #717A85;
}

.text-val {
    position: relative;
}

.message-wrapper {
    position: absolute;
    border-radius: 0 0 0.5em 0.5em !important;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    z-index: 100;
    width: 100%;
}

.message-wrapper-text {
    font-size: 0.8em;
}

.message-wrapper-text span {
    color: #ffffff !important;
}

.message-wrapper-text span b {
    color: #717A85 !important;
}