.tabs-layout {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

.tabs-layout .tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5em;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.2s;
    font-size: 0.9rem;
}

.tabs-layout .tab:hover {
    background-color: #ffffff10;
    color: #ffffff;
    transition: 0.2s;
}

.tab {
    background-color: transparent;
    border: none;
}

.tab:disabled {
    opacity: 0.5;
}

.pages-control {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}

.pages-control p {
    width: 2em;
    padding: 0.25em;
    text-align: center;
    margin: 0;
}

.pages-control .actual {
    color: #ffffff;
}

.pages-control .right-b {
    border-right: 1px solid #2A2F35;
}

.pages-control .sep {
    width: 5px !important;
    padding: 0;
}