SERVER_PORT=8080
API_SERVER_URL=http://localhost:3001
WSS_URL=ws://localhost:8080
LOGGING_LEVEL=info
LLM_PROVIDER=<gemini-or-openapi-or-anthropic>
LLM_ENDPOINT=<your-llm-endpoint>
LLM_API_KEY=<your-llm-api-key>
LLM_MODEL=<your-provider-related-llm-model>
HAS_HISTORY=true
BOT_USERNAME=<bot-username>
BOT_PASSWORD=<bot-password>
BOT_EMAIL=<bot-email>