.crd-title {
    font-size: 1.2em;
    font-weight: 500;
}

.crd-title-small {
    font-size: 0.8em;
    font-weight: 600;
}

.crd-subtitle {
    font-size: 0.8em;
}

.crd-min-w {
    min-width: 100px;
}

.limit-width {
    width: fit-content;
    max-width: 60%;
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

.new-messages-wrapper {
    position: absolute;
    z-index: 100;
    top: -50px;
    left: 0;
    right: 0;
}

.rel {
    position: relative;
}