.back-1 {
    background-color: #212529;
}

.back-2 {
    background-color: #161A1F;
}

.fore-1 {
    color: #ffffff;
}

.fore-2 {
    color: #717A85;
}

.fore-2-btn {
    color: #717A85;
}

.fore-2-btn:hover {
    color: #aab1ba;
}