.gap-1 {
    gap: 0.25em;
}

.gap-2 {
    gap: 0.5em;
}

.gap-3 {
    gap: 1em;
}

.h-0 {
    height: 0;
}

.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.back-1 {
    background-color: #212529;
}

.back-2 {
    background-color: #161A1F;
}

.fore-1 {
    color: #ffffff;
}

.fore-2 {
    color: #717A85;
}

.fore-2-btn {
    color: #717A85;
}

.fore-2-btn:hover {
    color: #aab1ba;
}

.card-1 {
    background-color: #212529;
    border: 1px solid #2A2F35;
    border-radius: 0.5em;
    padding: 0.5em;
}

.card-2 {
    background-color: #161A1F;
    border: 1px solid #2A2F35;
    border-radius: 0.5em;
    padding: 0.5em;
}

.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.size-1 {
    height: 1.5em;
    width: 1.5em;
}

.size-2 {
    height: 2em;
    width: 2em;
}

.f-size-1 {
    font-size: 0.6em;
}